<!DOCTYPE html>
<html>
<title>Admin Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .cloud-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("public/images/CloudComputing.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 5px;
    text-align: left;
  }

  tr {
    height: 15px;
  }

  .button {
    position: relative;
    background-color: #4CAF50;
    border: 1px solid black;
    font-size: 15px;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .header {
    padding: 30px;
    text-align: center;
    background: green;
  }

  .footer {
    padding: 20px;
    text-align: left;
    background: green;
    margin-top: 20px;
  }

  .topnav a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-red.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<body>
  <div class="dropdown" style="float:right;">
    <button class="dropbtn">Options</button>
    <div class="dropdown-content">
      <a href="/">Log out</a>
    </div>
  </div>
  <header class="header" id="myHeader">
    <h1>Welcome to your contractor page</h1>
    <h1 class="w3-xxxlarge w3-animate-bottom">BEng. Software And Electronic Engineering 2020</h1>
    <br><br>
    </div>
  </header>

  <div class="topnav">
    <a href="/AP"><img src="/images/home.jpg"><br>
      <id="title">Home
    </a>
    <a href="/AJ"><img src="/images/haybale.jpg"><br>
      <id="title">Jobs
    </a>
    <a href="/MD"><img src="/images/fusion.jpg"><br>
      <id="title">Machine Diagnostics
    </a>
    <a href="/MS"><img src="/images/spanner.jpg"><br>
      <id="title">Machine Servicing
    </a>
  </div>
  <div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h2>Current Customers</h2>
        <br><br>
        <table style="width:90%; font-size: 15px; height:70%; " align="center">
          <tr>
            <th>Customer</th>
            <th>Password</th>
          </tr>
          {{# each items }}
            <tr>
              <td>{{this.User}}</td>
              <td>{{this.Password}}</td>
            </tr>
            {{/each}}
        </table>

      </div>
    </div>


    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h3>Add Customers</h3><br>
        <section class="insert">
          <button class="w3-bar-item w3-button w3-green" onclick="showAddForm()">Add Customer</button>
          <form action="/insert" method="post" style="display:none" id="addForm">
            <div class="input">
              <br><br>
              <label for="Username"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" id="username" name="username" required>
            </div>
            <br>
            <div class="input">
              <label for="psw"><b>Password</b></label>
              <input type="text" placeholder="Enter Password" id="psw" name="psw" required>
            </div>
            <br>
            <button type="submit" class="btn">Save User</button>
          </form>
        </section>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h3>Delete Customers</h3><br>
        <section class="delete">
          <button class="w3-bar-item w3-button w3-red" onclick="showDeleteForm()">Delete Customer</button>
          <form action="/delete" method="post" id="deleteForm" style="display:none">
            <div class="input">
              <br><br>
              <label for="User1"><b>User1</b></label>
              <input type="text" placeholder="Enter Username" id="deleteUser1" name="User1" required>
            </div>
            <br>
            <button type="submit" class="btn">Delete</button>
          </form>
        </section>
      </div>
    </div>
  </div>



  <h2 class="w3-center"></h2>
  <div class="w3-container">
    <br><br>
  </div>

  <footer class="footer">
    <h2>Thanks for looking </h2>
    <p>The above project has been brought to you by <a href="https://www.linkedin.com/in/deniswhelansoftwareeleceng/" target="_blank">Denis Whelan</a>
    <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
      <span class="w3-text w3-theme w3-padding">Go To Top</span>&nbsp;
      <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
          <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
  </footer>
  <script>
    function showDeleteForm() {
      var x = document.getElementById("deleteForm");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }

    function showAddForm() {
      var x = document.getElementById("addForm");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }

    function insert() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {}
        xhttp.open("POST", "/Delete", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(deleteUsers);

      }
    }
  </script>
</body>

</html>
