<!doctype html>
<html lang="en">

<head>
  <style>
    container {
      width: 50%;
      height: 100%;
      float: left;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 5px;
      text-align: left;
    }
  </style>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Pricing Page</title>
  <h1>Welcome to the Contact Page</h1>
</head>

<body>
  <table style="container">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
    <tr>
      <td>Michael McCormack</td>
      <td>0875646679</td>
      <td>mmc@agricontracts.ie</td>
    </tr>
    <tr>
      <td>Tom McCormack</td>
      <td>0875646697</td>
      <td>tmc@agricontracts.ie</td>
    </tr>
    <tr>
      <td>Gerry McCormack</td>
      <td>0875646976</td>
      <td>gmc@agricontracts.ie</td>
    </tr>
  </table>
  <a href="/CP"><button>Home</button></a>
</body>

</html>
