<!doctype html>
<html lang="en">
  <head>
    <style>
    container {
      width: 50%;
      height: 100%;
      float: left;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <title>Diagnostics Page</title>
    <h1>Welcome to the diagnostics page</h1>
    <br><br>
    <h2>See below outstanding issues with your machine:</h2>
  </head>
  <body>
    <table style="container">
      <tr>
        <th>Issue Number</th>
        <th>Location in machine</th>
        <th>Details</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Knives</td>
        <td>Knives blunt</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Wrapper</td>
        <td>Reel issue after wrapping</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Netting</td>
        <td>Net reel blocked</td>
      </tr>
    </table>
    <a href="/AP"><button>Home</button></a>
</body>
</html>
