<!doctype html>
<html lang="en">

<head>
  <style>
    container {
      width: 50%;
      height: 100%;
      float: left;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 5px;
      text-align: left;
    }
  </style>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Machine Service Page</title>
  <h1>Welcome to the Machine Service Page</h1>
</head>
<body>
  <br><br>
  <h2>Your local McHale service technician is:</h2>
  <table style="container">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
    <tr>
      <td>Jim Rodgers</td>
      <td>0875646541</td>
      <td>Jrodgers@McHale.ie</td>
    </tr>
  </table>
  <a href="/AP"><button>Home</button></a>
</body>

</html>
