<!doctype html>
<html lang="en">
  <head>
    <style>
    container {
      width: 50%;
      height: 100%;
      float: left;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <title>Pricing Page</title>
    <h1>Welcome to the Pricing Page</h1>
  </head>
  <body>
    <table style="container">
      <tr>
        <th>Location</th>
        <th>Price per Bale</th>
      </tr>
      <tr>
        <td>Cork</td>
        <td>€40</td>
      </tr>
      <tr>
        <td>Kerry</td>
        <td>€40</td>
      </tr>
      <tr>
        <td>Waterford</td>
        <td>€40</td>
      </tr>
      <tr>
        <td>Limerick</td>
        <td>€40</td>
      </tr>
      <tr>
        <td>Galway</td>
        <td>€30</td>
      </tr>
      <tr>
        <td>Mayo</td>
        <td>€30</td>
      </tr>
      <tr>
        <td>Donegal</td>
        <td>€30</td>
      </tr>
      <tr>
        <td>Leitrim</td>
        <td>€25</td>
      </tr>
      <tr>
        <td>Clare</td>
        <td>€25</td>
      </tr>
      <tr>
        <td>Monaghan</td>
        <td>€25</td>
      </tr>
    </table>
    <a href="/C"><button>Contact...</button></a>
    <a href="/CP"><button>Home</button></a>
</body>
</html>
